<ul>
<%= form_tag(:controller => "sessions", :action => "create", :method => :post) do -%>
  <li><%= link_to_unless_current(t("info", :scope => [:links]), root_url) -%></li>
  <li><%= link_to_menu(:all, t(:timelines, :scope => :links), :controller => "timelines") -%></li>
  <% if logged_in? -%>
    <li><%= link_to_menu(:all, t("text.user_reminders", :user => current_user.login), :controller => :reminders, :user => current_user.login) -%></li>
    <li><%= link_to_menu([:edit, :update], t(:edit, :scope => [:controller, :sessions]), :user => current_user.login, :action => :edit, :controller => :sessions) -%></li>
    <li><%= link_to(t("logout", :scope => [:links]), logout_path) -%></li>
  <% else -%>
    <li>
      <label for="openid_url" >
        OpenID
      </label>
    </li>
    <li><%= text_field_tag(:openid_url, {}, :class => "openid-url", :value => t(:please_input_openid, :scope => :text), :style => "color:gray;", :onfocus => "Brushup.clearInputValue($(this))") -%></li>
    <li><%= submit_tag(t("login", :scope => [:links])) -%></li>
  <% end -%>
<% end -%>
</ul>
