<%= render :partial => "/share/header" %>


<div id="forget-body">
  <div class="main">
    <%= form_for @user, as: :edit_user, :method => :put, :url => {:action => :update} do |f| %>
    <%= f.error_messages.untaint %>
    <table>
      <tr>
        <td><%=h User.human_attribute_name("login")  %></td>
        <td><%= f.text_field :login %></td>
      </tr>
      <tr>
        <td><%=h User.human_attribute_name("openid_url")  %></td>
        <td><%=h @user.openid_url %></td>
      </tr>
    </table>
    <div >
      <%= f.submit t(:update, :scope => %w(railties scaffold)) -%>
    </div>
    <% end %>
  </div>
</div>
