<div id="forget-body-not-sidebar">
  <div class="main">
    <% form_for(@reminder, :url => action_path(action, :id => @reminder.id)) do |f| %>
    <%= f.error_messages.untaint %>
    <div>
      <%=h Reminder.human_attribute_name("title") %><br/>
      <%= f.text_field :title %>  <br/>
    </div>
    <div>
      <%=h Reminder.human_attribute_name("tag_list") %> <small>※スペース区切り</small><br/>
      <%= auto_complete_for_tag(f) -%>
      <br/>
    </div>
    <div>
      <%=h Reminder.human_attribute_name("body") %><br/>
      <%= f.text_area :body %>
    </div>
    <div>
      <%=h Reminder.human_attribute_name("format") %>
      <%= f.select :format, Brushup::Formatting.format_types.map{|k| [t(k, :scope => :format_type), k.to_s]} %>
    </div>
    <div class="controll_left">
      <%= hidden_field_tag "mode", params[:mode] -%>
      <%= f.submit t(action, :scope => [:railties, :scaffold]) %>
    </div>
    <% end %>
  </div>
</div>
