<div id="forget-body-not-sidebar">
  <div class="main">
    <%= form_for(@reminder, :url => action_path(action, :id => @reminder.id)) do |f| %>
    <%= f.error_messages.untaint %>
    <div>
      <%=h Reminder.human_attribute_name("title") %><br/>
      <%= f.text_field :title %>  <br/>
    </div>
    <div>
      <%=h Reminder.human_attribute_name("tag_list") %> <small>※スペース区切り</small><br/>
      <br/>
    </div>
    <div>
      <%=h Reminder.human_attribute_name("body") %><br/>
      <%= f.text_area :body %>
    </div>
    <div>
      <%=h Reminder.human_attribute_name("format") %>
      <%= format_selectbox(f, @reminder) %>
      <%= f.check_box :change_default_format, {}, true %>
      <%= f.label :change_default_format, t(:change_default_format, :scope => :text) %>
    </div>
    <div class="controll_left">
      <%= hidden_field_tag "mode", params[:mode] -%>
      <%= f.submit t(action, :scope => [:railties, :scaffold]) %>
    </div>
    <% end %>
  </div>
</div>
