<% fields_for reminder do |f| -%>
<div>
  <table>
    <tr>
      <th><%=h Reminder.human_attribute_name('title') %></th>
      <td><%=h reminder.title %></td>
    </tr>
    <tr>
      <td><%=h reminder.body %></td>
    </tr>
    <tr>
      <td><%= link_to t(:show, :scope => [:railties, :scaffold]), reminder %></td>
      <td><%= link_to t(:edit, :scope => [:railties, :scaffold]), edit_reminder_path(reminder) %></td>
      <td><%= link_to t(:destroy, 
	      :scope => [:railties, :scaffold]), reminder, 
	:confirm => t(:confirmation, :scope => [:railties, :scaffold],
	:value => t(:destroy, :scope => [:railties, :scaffold])),
	:method => :delete -%></td>
    </tr>
  </table>
</div>
<% end -%>
