<%= fields_for reminder do |f| -%>
<li id="reminder_<%= reminder.id -%>" class="show">
  <div class="show">
    <div class="show-title">
      <h2><%= link_to(h(reminder.title), action_path(:show, :id => reminder.id)) -%></h2>
      <%= link_to_function(t(:hide_detail, :scope => %w(links)), "$('#reminder_#{reminder.id}_detail').toggle()") unless @show_reminder_detail %>
      <span id="reminders_check_<%= reminder.id -%>">
        <%= check_link(reminder) -%>
      </span>
    </div>
    <div id="reminder_<%= reminder.id %>_detail" <%=raw hidden_reminder_detail -%>>
      <%= render :partial => "show_detail", :locals => {:reminder => reminder} %>
    </div>
    <% if current_user? %>
    <table>
      <tr>
        <td class="link">
          <%= link_to t(:edit, :scope => [:railties, :scaffold]), action_path(:edit, :id => reminder.id) %>
        </td>
        <td class="link">
          <%= link_to t(:destroy, :scope => [:railties, :scaffold]), action_path(:destroy, :id => reminder.id), 
              :confirm => t(:confirmation, :scope => [:railties, :scaffold],
                            :value => t(:destroy, :scope => [:railties, :scaffold])) -%>
        </td>
      </tr>
    </table>
    <% end %>
    <%= render :partial => "show_copy_link", :locals => {:reminder => reminder} %>
  </div>
</li>
<% end -%>
