<% @reminders.each do |reminder| %>
  <% fields_for reminder do |f| -%>
  <li class="show">
    <div class="show">
      <div class="show-title">
	    <h2><%= link_to h(reminder.title), action_path(:show, :id => reminder.id) -%></h2>
	    <span id="reminders_check_<%= reminder.id -%>">
	      <%= link_to_remote t(:check, :scope => [:railties, :scaffold]), 
	      :url => {:action => :check, :id => reminder.id} if logged_in? && reminder.today_remind? -%>
	    </span>
      </div>
      <div class="show-tags">
	    <%=h reminder.tag_list %>
      </div>
      <div class="show-body">
	    <%=h reminder.body %>
      </div>
      <% if logged_in? && current_user? %>
      <table>
	    <tr>
	      <td class="link">
	        <%= link_to t(:edit, :scope => [:railties, :scaffold]), action_path(:edit, :id => reminder.id) %>
	      </td>
	      <td class="link">
	        <%= link_to t(:destroy, 
		        :scope => [:railties, :scaffold]), reminder, 
            :confirm => t(:confirmation, :scope => [:railties, :scaffold],
	        :value => t(:destroy, :scope => [:railties, :scaffold])),
  	        :method => :delete -%>
	      </td>
	    </tr>
    </div>
    <% end %>
  </li>
  <% end -%>
<% end -%>
