<% back_button_options ||= {} %>
<div id="forget-body">
  <div class="main">
    <ul class="show">
      <li class="show">
        <div class="show">
          <div class="show-title">
            <h2><%= h(@reminder.title) -%></h2>
          </div>
          <%= render :partial => "show_detail", :locals => {:reminder => @reminder} %>
          <table class="buttons">
            <tr>
            <% if copiable_reminder?(@reminder) %>
              <td><%= button_to t(:copy, :scope => [:controller, :reminders]), action_path(:copy, :controller => :reminders, :user => current_user.login, :id => @reminder.id) -%></td>
            <% end %>
            <% if current_user? %>
              <td><%= button_to t(:check, :scope => [:railties, :scaffold]), action_path(:check, :id => @reminder.id) if @reminder.today_remind? -%></td>
              <td><%= button_to t(:edit, :scope => [:railties, :scaffold]), action_path(:edit, :id => @reminder.id) -%></td>
            <% end %>
            </tr>
          </table>
          <div><%= link_to_back_list(back_button_options) %></div>
        </div>
      </li>
    </ul>
  </div>
</div>
