<h1><% translate(:editing, :default => "Editing {{model}}", :model => Reminder.human_name, :scope => [:railties, :scaffold]) %></h1>

<% form_for(@reminder) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit translate(:update, :default => "Update", :scope => [:railties, :scaffold]) %>
  </p>
<% end %>

<%= link_to translate(:show, :default => 'Show', :scope => [:railties, :scaffold]), @reminder %> |
<%= link_to translate(:back, :default => 'Back', :scope => [:railties, :scaffold]), reminders_path %>
