<div id="forget-header">
  <h2><%= t(params["action"], :scope => [:controller, :reminders]) %></h2>

  <ul class="menu">
    <li class="<%= current_tag('today')-%>"><%= link_to t(:today, :scope => [:controller, :reminders]), action_path(:today) -%></li>
    <li class="<%= current_tag('list')-%>"><%= link_to t(:index, :scope => [:controller, :reminders]), action_path(:list) -%></li>
    <li class="<%= current_tag('completed')-%>"><%= link_to t(:completed, :scope => [:controller, :reminders]), action_path(:completed) -%></li>
  </ul>
</div>


<div id="forget-body">
  <div class="main">
    <ul class="show">
      <%= render :partial => "reminder" %>
    </ul>
  </div>
  <%= render :partial => "sidebar" %>
</div>

