<h1><%= t(:listing, :scope => [:railties, :scaffold]) %></h1>

<ul class="menu">
  <li><%= link_to t(:today, :scope => [:controller, :reminders]), action_path(:today) -%></li>
  <li><%= link_to t(:list, :scope => [:controller, :reminders]), action_path(:index) -%></li>
  <li><%= link_to t(:memory, :scope => [:controller, :reminders]), action_path(:completed) -%></li>
</ul>

<div class="main">
  <%= render :partial => "reminder" %>
</div>

<%= render :partial => "tags" %>

<%= link_to(t(:new, :default => "New {{model}}", :model => Reminder.human_name, :scope => [:railties, :scaffold]), new_reminder_path) if logged_in? %>
