<h1><%= t(:listing, :scope => [:railties, :scaffold]) %></h1>

<ul class="menu">
  <li><%= link_to_remote t(:today, :scope => [:controller, :reminders]), :url => {:action => :today, :method => :get} -%></li>
  <li><%= link_to_remote t(:list, :scope => [:controller, :reminders]), :url => {:action => :index, :method => :get} -%></li>
  <li><%= link_to_remote t(:memory, :scope => [:controller, :reminders]), :url => {:action => :completed, :method => :get} -%></li>
</ul>

<div class="main">
  <%= render :partial => "reminder" %>
</div>

<%= render :partial => "tags" %>

<%= link_to t(:new, :model => Reminder.human_name, :scope => [:railties, :scaffold]), new_reminder_path %>
