<%= render :partial => "/share/header" %>
<div id="forget-body">
  <div class="main">
    <ul class="show">
      <li class="show">
        <div class="show">
          <div class="show-title">
            <h2><%= h(@reminder.title) -%></h2>
          </div>
          <div class="show-body">
            <%= @reminder.body.untaint %>
          </div>
          <div class="show-tags">
            <b><%=h Reminder.human_attribute_name("tag_list") %> : </b><%=h @reminder.tag_list %>
          </div>
          <% unless @reminder.completed? %>
            <div class="show-date">
              <b><%=h Reminder.human_attribute_name('learned_at') %> : </b><%=h display_date(@reminder.learned_at) %>
            </div>
            <div class="show-date">
              <b><%=h Reminder.human_attribute_name('next_learn_date') %> : </b><%=h display_date(@reminder.next_learn_date) %>
              (<%= t(:to_complete_count, :scope => :text, :count => @reminder.to_complete_count) %>)
            </div>
          <% end %>
          <% if current_user? %>
            <div class="controll_left">
              <%= button_to t(:check, :scope => [:railties, :scaffold]), action_path(:check, :id => @reminder.id) if @reminder.today_remind? -%>
            </div>
            <div class="controll_left">
              <%= button_to t(:edit, :scope => [:railties, :scaffold]), action_path(:edit, :id => @reminder.id) -%>
            </div>
          <% end %>
          <div>
            <%= button_for_back_list %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
