<%= fields_for reminder do |f| -%>
<li id="reminder_<%= reminder.id -%>" class="show">
  <div class="show">
    <div class="show-username">
      <%= link_to(h(reminder.user.login), :controller => :reminders, :user => reminder.user.login) -%>
      <%= t(:user_reminders, :scope => :text, :user => "") %>
    </div>
    <div class="show-title">
      <h2><%= link_to(h(reminder.title), action_path(:show, :id => reminder.id)) -%></h2>
      <%= link_to_function(t(:hide_detail, :scope => %w(links)), "$('#reminder_#{reminder.id}_detail').toggle()") unless @show_reminder_detail %>
    </div>
    <div id="reminder_<%= reminder.id %>_detail" <%=raw hidden_reminder_detail -%>>
      <%= render :partial => "/reminders/show_detail", :locals => {:reminder => reminder} %>
    </div>
    <%= render :partial => "/reminders/show_copy_link", :locals => {:reminder => reminder} %>
  </div>
</li>
<% end -%>
