<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= t("reminder", :scope => "controller") %>：<%= message_of_user(controller.action_name, :scope => ['controller', controller_name]) %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div id="header">
      <h1><%= link_to(t("reminder", :scope => "controller"), root_url, :class => "not_effect") %></h1>
      <%= render :partial => "/sessions/user_bar" unless bookmarklet_window? -%>
    </div>

    <div class="float-clear"></div>

    <div id="crumbs">
      <%= render_crumbs unless bookmarklet_window? %>
    </div>

    <div id="annotation">
      <% unless bookmarklet_window? %>
        <% if flash[:notice] %><p style="color: green;"><%= flash[:notice].untaint %></p><% end %>
        <% if flash[:error] %><p style="color: red;"><%= flash[:error].untaint %></p><% end %>
        <% if flash[:reminder_notice] %><p style="color: gree;"><%= today_reminder_notice_link %></p><% end %>
      <% end %>
    </div>

    <%= yield  %>

    <%= google_analytics %>

    <div id="ajax-indicator" style="display:none;"><span>ロード中...</span></div>
  </body>
</html>
